*.class
.antlr/

example-output/render2
/.vs

*.bkp

*.dtmp

src/StateSmith.CliTest/Run/examples/1/statesmith.runinfo.json

artifacts/win-x64/StateSmith.Cli.exe
artifacts/win-x64/ss.cli.exe
artifacts/test/ss.cli.exe
